<header>
  <div class="container">
    <a href="#" class="logo">Tp5</a>
    <nav>
      <ul>
        <li><a routerLink='/'>Home</a></li>
        <li><a routerLink='/products'>Products</a></li>
        <li><a routerLink='/contact'>Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
    <div class="side col-sm-3">
      <h1>aside 2</h1>
    </div>
  </div>
</div>


<footer>
  <div class="container">
    <a href="#" RouterLink='/contact'>Contact us</a>
    <span class="fa-stack fa-large">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x"></i>
    </span>
    <span class="fa-stack fa-large">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x"></i>
    </span>
  </div>
</footer>
